.booking-section {
  display: flex;
  flex-direction: row;
  margin: 2rem 5rem 4rem;
}

.booking-heading {
  display: flex;
  margin: 0 4rem;

  flex-direction: column;
}

form {
  margin: 0 auto;
}

.reservations-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.reservation-section {
  display: flex;
  flex-direction: row;
  width: 800px;
}

.reservation-images {
  margin: 0 auto;
  width: 300px;
}

.reservation-images img {
  margin: 0 auto;
  width: 300px;
  object-fit: cover;
  border-radius: 5%;
}

.reservation-fields {
  width: 500px;
}

.reservation-fields input {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: flex-end;
  width: 250px;
  margin: 0 auto;
}
.reservation-fields label {
  font-weight: bold;
  display: inline-flex;
  width: 150px;
  padding: 1rem 2rem 0 0;
}
.reservation-fields select {
  text-align: center;
  font-weight: bold;
  display: inline-flex;
  width: 150px;
  padding: 0.5rem 0;
}

.register-section {
  width: 800px;
}

.register-heading {
  display: flex;
  margin: 0 4rem;
  flex-direction: column;
}

.register-fields-group {
  display: flex;
  flex-direction: row;
}

.register-fields {
  width: 500px;
}

.register-fields input {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: flex-end;
  width: 200px;
  margin: 0 auto;
}
.register-fields select {
  height: 200px;
  padding: 0.5rem 1rem;
  align-items: flex-end;
  width: 200px;
  margin: 0 auto;
}
.register-fields label {
  font-weight: bold;
  display: inline-flex;
  width: 150px;
  padding: 1rem 0.5rem 0 0;
  justify-content: center;
}

.error-text {
  text-align: center;
  color: red;
  font-weight: 600;
}

.button-container {
  display: flex;
  margin: 2rem;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  width: 150px;
  height: 50px;
  background: #f4ce14;
  border-radius: 20px;
  border: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.submit-button:hover {
  background: #495e57;
  color: #fff;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@media screen and (max-width: 944px) {
  .booking-section {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem;
  }

  .reservation-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .reservation-images {
    margin: 0 auto;
  }

  .reservation-images img {
    margin: 0 auto;
    object-fit: cover;
    border-radius: 5%;
  }

  .reservation-fields {
    width: 250px;
  }

  .reservations-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
